span:hover .chap-link{
  color: white !important ; 
}
.title-post a{
 font-size: 16px;
    font-weight: bold;
    color: #242025d1!important;

}
a.badge.badge-light {
    font-weight: inherit;
    color: #54112a;
    background-color: #b5c0ff4d;
}
.title-post:hover a{
  text-decoration: underline !important;;
}
  #section {
    width: 500px;
    height: 400px;
    word-wrap: break-word;
  }

   .showContentAll.displayreadallsome .DspInfo,
    .showContentAll.displayreadallsome .someVeek {
        display: none;
    }

    .showContentAll.readalldatafull .contentData {
        display: none;
    }

    .showContentAll .contentData,
    .showContentAll .someVeek {
        font-weight: bold;
        margin-left: 2px;
        color: blue;
        cursor: pointer;
    }

    .showContentAllWrapTxt.readalldatafull .DspInfo,
    .showContentAllWrapTxt.readalldatafull .someVeek {
        display: block;
    }
    .post:hover{
      background-color: rgb(233, 235, 238);
    }
   @media screen and (max-width: 576px) {
  .col-img{
    margin:auto;
    width: 200px;
    height: 300px;
  }
  .col-img img{
    width: 100%;
    height: 100%;
  }
}
.post{
 /*background-color: rgb(233, 235, 238);*/
 border-bottom: 1px solid red;
}
.right .post{
   border-bottom: 1px solid blue; 
}
.detail-chap a{
  color: black;
  font-weight: inherit;
}
.detail-chap h2:hover a{
  color:grey;

}
p.col-4{
       font-weight: bold; 
    font-size: 14px;
}