@media screen and (max-width: 576px)
{
	.name-breadcum{
	width: 120px;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;padding-left: 5px;
	}
  #btnScrollTop{
    right: 40px;  
  }
  #btnScrollTop{
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 30px;
  background: #1483ce17;

  padding: 7px 10px;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  border: 1px solid white;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
  }  
}
  #btnScrollTop{
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 30px;
  background: #1483ce17;

  padding: 7px 10px;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  border: 1px solid white;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}
#setting{
  position: fixed;
  bottom: 70px;
  right: 20px;
  font-size: 30px;
  background: #1483ce17;
  
  border-radius: 50%;
  color: black;
  cursor: pointer;
  border: 1px solid white;
}  


#btnScrollTop:hover,#setting:hover{
  transition: .5s;
  background: #e4e4e4;
}
.site-menu a{
  color: white;
}
.breadcrumb-item a{
  color: black;
}